.advantages h2 {
  margin: 0 20px 40px;
}

.advantages__list {
  padding: 0;
  margin: 0 20px 49px;
  list-style: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages__icon {
  min-width: 60px;
  height: 60px;
  background-color: $bg-color-main;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon-leaf {
  background-image: url("../../icons/stack.svg#advantages-leaf");
  background-size: 25px 28px;
}

.advantages__icon-powder {
  background-image: url("../../icons/stack.svg#advantages-powder");
  background-size: 26px 28px;
}

.advantages__icon-eat {
  background-image: url("../../icons/stack.svg#advantages-eat");
  background-size: 25px 30px;
}

.advantages__icon-clock {
  background-image: url("../../icons/stack.svg#advantages-clock");
  background-size: 26px 31px;
}

.advantages__item p {
  margin: 0;
}
