.catalog .h1 {
  margin: 27px 20px 41px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 30px 84px;
  }
}

.catalog__list {
  padding: 0 20px 26px;
  margin: 0 0 25px;
  list-style: none;

  @media screen and (max-width: $mobile-width-only) {
    border-bottom: 1px solid #ebebeb;
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 101px 60px;
    padding: 0 30px 74px;
  }
}

.catalog__item:last-child h3 {
  font-family: $font-second;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-black-second;
  text-transform: uppercase;
  padding: 78px 0 8px;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 134px;
    margin: 0 auto;
    padding-bottom: 23px;
  }
}

.catalog__item:last-child p {
  margin-bottom: 21px;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    margin: 0 auto 82px;
  }
}

.catalog__item {
  &:last-child {
    text-align: center;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 39px;
      right: 50%;
      transform: translateX(50%);
      width: 30px;
      height: 2px;
      background-color: #ebebeb;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 39px;
      right: 50%;
      width: 30px;
      height: 2px;
      transform: translateX(50%) rotate(90deg);
      background-color: #ebebeb;
    }

    @media screen and (min-width: $tablet-width) {
      padding: 167px 37px 40px;
      border: 1px solid #f2f2f2;
      min-width: 324px;

      &::before {
        width: 60px;
        top: 80px;
      }

      &::after {
        width: 60px;
        top: 80px;
      }
    }

    @media screen and (min-width: $desktop-width) {
      min-width: 245px;

      &::before {
        width: 60px;
        top: 80px;
      }

      &::after {
        width: 60px;
        top: 80px;
      }
    }
  }
}

.catalog__item:last-child .main-button {
  width: 100%;
}
