.contacts__welcome {
  font-family: $font-second;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: $text-color-black;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
