.example {
  padding: 25px 20px 40px;
  background-color: $bg-color-grey;

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.example h2 {
  margin-bottom: 40px;
}

.example__description {
  margin: 0 0 20px;
}

.example__advantages {
  display: flex;
  justify-content: space-between;
}

.example__advantages-wrapper {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__border {
  min-width: 124px;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color-grey;
  border-radius: 4px;
}

.example__border p:nth-child(1) {
  font-family: $font-second;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-black;
  text-transform: uppercase;
  margin: 0;
}

.example__border p:nth-child(2) {
  font-family: $font-second;
  font-size: 12px;
  line-height: 12px;
  color: $text-collor-main;
  text-transform: lowercase;
  margin: 0;
}

.example__price {
  font-family: $font-second;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $text-color-black;
  text-transform: uppercase;
  margin: 0;
}

.example__slider {
  top: 0;
  right: 0;
  position: relative;
  max-width: 560px;
}
