.example {
  padding: 25px 20px 40px;
  background-color: $bg-color-grey;

  @media screen and (min-width: $tablet-width) {
    background: none;
    position: relative;
    padding: 0 0 101px;

    &::before {
      content: '';
      z-index: -999;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $bg-color-grey;
      clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
    }
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;

    &::before {
      clip-path: polygon(0 23%, 100% 23%, 100% 100%, 0 100%);
    }
  }
}

.example h2 {
  margin: 0 0 40px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 30px 60px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 110px 146px;
  }
}

.example__description {
  margin: 0 0 20px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 30px 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 110px 69px;
    width: 436px;
  }
}

.example__advantages-wrapper {
  @media screen and (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px 99px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 110px 75px;
  }
}

.example__advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
    gap: 43px;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: start;
    margin-bottom: 55px;
  }
}

.example__border {
  position: relative;
  min-width: 124px;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #CDCDCD;
  border-radius: 4px;

  @media screen and (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 77px;
  }
}

.example__border p:nth-child(1) {
  font-family: $font-second;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-black;
  text-transform: uppercase;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__border p:nth-child(2) {
  font-family: $font-main;
  font-size: 12px;
  line-height: 12px;
  color: $text-collor-main;
  text-transform: lowercase;
  margin: 0;
  text-align: center;
  width: 87px;
  padding: 0 15px;
  background-color: $bg-color-grey;
  position: absolute;
  bottom: -16px;

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: max-content;
    padding: 0 8px;
    bottom: -6px;
  }

  @media screen and (min-width: $desktop-width) {
    background-color: $bg-color-grey;
  }
}

.example__price {
  text-align: center;
  font-family: $font-second;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color-black;
  text-transform: uppercase;
  margin: 0 0 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-align: right;
    width: 174px;
  }

  @media screen and (min-width: $desktop-width) {
    text-align: left;
    width: 100%;
    display: flex;
    gap: 63px;
  }
}

.example__slider {
  top: 0;
  right: 0;
  position: relative;
  max-width: 560px;
  height: 100%;
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
    background-color: #666666;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    border-radius: 2px;
  }
}

.example__slider-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -55%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#slider-arrows");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #666666;
  }
}
