.header {
  font-family: $font-second;
  font-size: 20px;
  line-height: 20px;

  @media screen and (min-width: $tablet-width) {
    padding: 25px 30px;
    font-size: 18px;
    line-height: 24px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border-bottom: 1px solid #e6e6e6;

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.header__logo-label {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle {
  height: 24px;
  width: 24px;
  border: none;
  background-image: url("../../icons/stack.svg#header-burger");
  background-color: #ffffff;
}
