.hero {
  font-family: $font-second;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-white;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.hero__background {
  z-index: -999;
}

.hero__food-img {
  order: 5;
}
