.hero {
  font-family: $font-second;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-white;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop-width) {
    min-height: 598px;
    position: relative;
  }
}

.hero__bg-wrapper {
  @media screen and (min-width: $desktop-width) {
    top: -179px;
    left: 50%;
  }
}

.hero__background {
  z-index: -999;
  position: relative;
  top: auto;
  left: auto;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }

  @media screen and (min-width: $desktop-width) {
    display: block;
  }
}

.hero__background img {
  display: block;
}

.hero h2 {
  text-align: center;
  padding: 27px 20px 25px;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    text-align: left;
    color: $text-color-black;
    max-width: 420px;
    padding: 0;
    margin: 0 120px 40px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 47px 190px 40px;
  }
}

.hero p {
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 29px;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    width: 340px;
    margin: 0 120px 50px;
    padding: 0;
    max-width: 340px;
    color: $text-color-black;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 190px 50px;
  }
}

.hero__food-img {
  padding: 0 20px;
  object-fit: cover;
  margin-bottom: 3px;

  @media screen and (min-width: $tablet-width) {
    order: 1;
    margin: -84px 8px 0;
    z-index: -1;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    z-index: 0;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-29%, -54%);
  }
}

.hero a {
  text-decoration: none;
  margin: 0 20px 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 25px;
    width: 242px;
    margin: 0 120px 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 190px 0;
  }
}
