.main-button {
  font-family: $font-second;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-white;
  background-color: $bg-color-main;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &--gray {
    color: $text-color-main;
    background-color: $bg-color-gray;
  }

  &--bigger-font {
    font-size: 20px;
    line-height: 26px;
  }
}
