.navigation {
  @media screen and (max-width: $mobile-width-only) {
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    width: $mobile-width;
    z-index: 10;
    background-color: #ffffff;
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
  }
}

.navigation a {
  color: $text-color-black;
  text-transform: uppercase;
  text-decoration: none;

  @media screen and (min-width: $desktop-width) {
    font-size: 20px;
    color: $text-color-white;
  }
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 33px;
  }
}

.navigation__item {
  position: relative;

  &--active {
    &::before{
      display: none;
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $bg-color-main;
    }
  }

  @media screen and (max-width: $mobile-width-only) {
    text-align: center;
    padding: 22px 20px 24px;
    border-bottom: 1px solid #e6e6e6;

    &:first-child {
      border-top: 1px solid #e6e6e6;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &--active {
      &::before{
        display: block;
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--active {
      &::before{
        background-color: #ffffff;
      }
    }
  }
}

.navigation--no-js {
  @media screen and (max-width: $mobile-width-only) {
    position: static;
    transform: translateX(0);
  }
}
