.product-card {
  font-size: 12px;
  line-height: 16px;

  &h3 {
    font-family: $font-second;
    font-size: 16px;
    line-height: 20px;
    color: $text-color-black-second;
    text-transform: uppercase;
  }
}
