.programs__list {
  padding: 0;
  margin: 0 20px 20px;
  list-style: none;

  @media screen and (min-width: $tablet-width) {
    margin: 0 30px 50px;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin: 0 110px 72px;
  }
}

.programs__item {
  background-color: $bg-color-gray;
  padding-bottom: 20px;
  width: auto;
  position: relative;

  @media screen and (max-width: $mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding: 77px 63px 58px 52px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding: 47px 61px 58px 52px;
    min-width: 570px;
  }
}

.programs__item-wrapper {
  padding: 24px 20px 23px;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 457px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 62px;
    margin-bottom: 39px;
  }
}

.programs__picture-bg {
  display: flex;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
  background-color: $bg-color-main;
  align-items: center;

  @media screen and (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    position: absolute;
    right: 63px;
    top: 50%;
    transform: translateY(-45%);
    min-width: 200px;
    min-height: 200px;
  }

  @media screen and (min-width: $desktop-width) {
    right: 50px;
    min-width: 100px;
    min-height: 100px;
  }
}

.programs__picture-bg::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.programs__picture-bg--cat-sit {
  &::before {
    background-image: url("../../images/programs/programs-cat1.svg");
    background-size: 36px 57px;
    background-position: 0 -3px;
    width: 36px;
    height: 57px;

    @media screen and (min-width: $tablet-width) {
      background-size: 140px 210px;
      background-position: 0 -6px;
      width: 140px;
      height: 230px;
    }

    @media screen and (min-width: $desktop-width) {
      background-size: 70px 100px;
      background-position: 0 -1px;
      width: 70px;
      height: 110px;
    }
  }
}

.programs__picture-bg--cat-walk {
  &::before {
    background-image: url("../../images/programs/programs-cat2.svg");
    background-size: 67px 28px;
    width: 67px;
    height: 28px;

    @media screen and (min-width: $tablet-width) {
      background-size: 268px 112px;
      width: 268px;
      height: 112px;
    }

    @media screen and (min-width: $desktop-width) {
      background-size: 134px 56px;
      width: 134px;
      height: 56px;
    }
  }
}

.programs__item:first-child img {
  @media screen and (min-width: $tablet-width) {
    margin-top: -25px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: -10px;
  }
}

.programs h3 {
  font-weight: 400;
  font-family: $font-second;
  font-size: 24px;
  line-height: 37px;
  color: $text-color-black;
  text-transform: uppercase;
  margin: 0;
  order: 1;

  @media screen and (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__item p {
  margin: 0 20px 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    margin: 0 0 50px;
    padding: 0;
    border-bottom: none;
    color: $text-color-black;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 457px;
    margin-bottom: 27px;
  }
}

.programs__link {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: $font-second;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-black;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
  max-width: 457px;
  bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    bottom: 53px;
  }

  @media screen and (min-width: $desktop-width) {
    bottom: 55px;
  }

  div {
    position: relative;
    display: flex;
    align-items: center;
    content: "";
    min-width: 18px;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
    margin-right: 6px;

    &::after {
      content: "";
      display: block;
      width: 7px;
      height: 12px;
      background-color: #000000;
      mask-image: url("../../icons/stack.svg#programs-arrow");
      mask-repeat: no-repeat;
      position: absolute;
      right: -6px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    gap: 25px;
    min-width: 161px;
  }

  &:hover div {
    transition: min-width 0.3s ease;
    min-width: 26px;
  }

  &:active {
    transition: opacity 0.3s ease;
    opacity: 0.3;
  }
}
