.section-title-catalog {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: $bg-color-main;
    position: absolute;
    top: 10px;
    z-index: -1;
    left: calc(-50vw + 50%);

    @media screen and (min-width: $desktop-width) {
      top: 20px;
    }
  }
}

.section-title-catalog h2 {
  font-weight: 400;
  display: inline-block;
  font-family: $font-second;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-black;
  margin: 0;
  background-color: #ffffff;
  padding: 0 40px 0 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin: 0 30px;
    padding: 0 40px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0 70px;
  }
}
